<div style="background-image: public/assets/img/background.jpg;"></div>
<img style="height: 20px;" src="public/assets/img/background.jpg" alt="" />

<div class="container">
    <div class="overlay"></div>
    {{!-- 
    <video style="height: 400px" width="100%" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="assets/img/Man Riding a Bike.mp4" type="video/mp4" />
    </video> --}}


    <div class="jumbotron">
        <h1 id="color-override">PedalPals</h1>
        <p id="color-override">PedalPals is a bike sharing platform that lets you share your bike members of our
            exclusive community.</p>
        <br>
        <h2 id="color-override">List a Bike</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newbike" id="color-override">New Bikes:</label>
                    <input type="text" id="newbike" name="bike">
                    {{!--Create a button in index.handlebars that will submit the user input into the database.--}}
                    <button type="submit" class="btn btn-dark" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <!-- /jumbotron -->

    <div class="row">
        <!-- Available Bikes -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead">
                    <strong>Available Bikes</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each rentals}}
                        {{#unless rented}}
                        <span>
                            <strong>
                                {{ this.id }}
                                -
                                {{ this.bike_name }}
                            </strong>
                        </span>
                        <button type="button" class="rentbike btn btn-dark" id="rentbutton" data-id="{{ this.id }}"
                            data-newRented="{{rented }}">
                            <span class="fa fa-thumbs-up"></span>
                        </button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Checked out bikes -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead">
                    <strong>Checked Out Bikes</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each rentals}}
                        {{#if rented}}
                        <span>
                            <strong>
                                {{ this.id }}
                                -
                                {{ this.bike_name }}
                            </strong>
                        </span>
                        <button type="button" class="returnbike btn btn-dark" id="returnbutton" data-id="{{ this.id }}"
                            data-newRented="{{rented}}">
                            <span class="fas fa-undo-alt"></span>
                        </button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->

</div>
<!-- /container -->